<a href="https://colab.research.google.com/github/revanth1408/revanth-reddy/blob/master/Assignment8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Write a program that prints the integers from 1 to 100. But for multiples of
three print "Fizz" instead of the number, and for the multiples of five print
"Buzz". For numbers which are multiples of both three and five print
"FizzBuzz".

In [2]:
for i in range(0,101) :
  if i%3==0:
    print("fizz",i) 
  if i%5==0:
    print("buzz",i) 
  if i%3==0 and i%5==0:
    print("fizzbuzz",i)
  if i%3!=0 and i%5!=0:
    print(i)

fizz 0
buzz 0
fizzbuzz 0
1
2
fizz 3
4
buzz 5
fizz 6
7
8
fizz 9
buzz 10
11
fizz 12
13
14
fizz 15
buzz 15
fizzbuzz 15
16
17
fizz 18
19
buzz 20
fizz 21
22
23
fizz 24
buzz 25
26
fizz 27
28
29
fizz 30
buzz 30
fizzbuzz 30
31
32
fizz 33
34
buzz 35
fizz 36
37
38
fizz 39
buzz 40
41
fizz 42
43
44
fizz 45
buzz 45
fizzbuzz 45
46
47
fizz 48
49
buzz 50
fizz 51
52
53
fizz 54
buzz 55
56
fizz 57
58
59
fizz 60
buzz 60
fizzbuzz 60
61
62
fizz 63
64
buzz 65
fizz 66
67
68
fizz 69
buzz 70
71
fizz 72
73
74
fizz 75
buzz 75
fizzbuzz 75
76
77
fizz 78
79
buzz 80
fizz 81
82
83
fizz 84
buzz 85
86
fizz 87
88
89
fizz 90
buzz 90
fizzbuzz 90
91
92
fizz 93
94
buzz 95
fizz 96
97
98
fizz 99
buzz 100

Write a python program to remove consecutive duplicates from list.

In [3]:
list=[10, 20,30,40,50,10,20,60,20]
res=[]
for i in list:
  if i  not in res:
    res.append(i)
print(res)

[10, 20, 30, 40, 50, 60]

3. Write a python program to find unique element from a list.

In [4]:
list =[1,2,3,4,5,6,7,8,89]
n=int(input("enter number ")) 
for i in list:
   if n in list:
     print("element",n,"is present")
     break
   else:
     print("not in list ")
     break

enter number 2
element 2 is present


Write a function to check whether a number is in given range.

In [5]:
n=int(input("enter  a number ")) 
for i in range(0, 100) :
  if n ==i:
    print("number", i,"is in range ")
    break

enter  a number 99
number 99 is in range


Write a python function that accepts a string and calculates the number of upper case and lower case letters. Sample string ="Hello Mr.Rogers how are you this fine Tuesday? " Output:no of upper characters=4 No of lower characters=33

In [7]:
Str="Hello Mr.Rogers how are you this fine Tuesday ? "
count=0
count2=0
for i in Str:
  if(i.isupper()) :
     count+=1
  elif(i.islower()):
     count2+=1
print("the number of upper case characters are ",count) 
print(" The number of lower case characters are",count2)

the number of upper case characters are  4
 The number of lower case characters are 33