<a href="https://colab.research.google.com/github/revanth1408/revanth-reddy/blob/master/Assignment12.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Write a python program to create a tuple

In [2]:
t1=(1,3,4,5,6,7)
print(t1,type(t1))

(1, 3, 4, 5, 6, 7) <class 'tuple'>

Write a python program to create a tuple with different datatypes

In [4]:
t1 = ("Revanth Reddy", True,100, 1.0)
print(t1)

('Revanth Reddy', True, 100, 1.0)

Write a python program to convert a tuple to a string

In [5]:
t1=('R','e','v','a','n','t','h')
str=''.join(t1)
print(str)

Revanth

Write a python program to slice a tuple

In [14]:
t1 = (1,2,3,4,5,6,7,8,9)
slice=tuple[:5]
print(slice)

TypeError: ignored

Write a python program to find the length of a tuple

In [10]:
t1=("Gitam")
print(len(t1))
print(t1)

5
Gitam

Write a python program to reverse a tuple

In [12]:
x=(1,2,3,4,5,6,7)
y=reversed(x)
print(tuple(y))

(7, 6, 5, 4, 3, 2, 1)

Write a python program to convert a list to a tuple

In [13]:
l1=[1,2,3,44,555,6]
print(l1)
t1=tuple(l1)
print(t1)

[1, 2, 3, 44, 555, 6]
(1, 2, 3, 44, 555, 6)