<a href="https://colab.research.google.com/github/revanth1408/revanth-reddy/blob/master/Assignment13.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.	What is dictionary in Python? Explain with an example

Python Dictionary are defined into two elements i.e., keys and values
    1. keys will be in Single Element
    2. Values can be in list or list within a list,numbers etc.

Syntax:  dict={'Revanth':24,jhdsfvy,...}

In [2]:
dict={'Revanth':25,'Sandeep':5,'Hemanth':19,'Charan':45}
print(dict['Sandeep'])

5

2.	Write a Python program to sum all the items in a list.

In [ ]:
def sum_list(items):
    sum_numbers = 0
    for x in items:
        sum_numbers += x
    return sum_numbers
print(sum_list([5,6,-8]))

3

3.	Write a Python program to create a list of empty dictionaries.

In [ ]:
n = 5
l = [{} for _ in range(n)]
print(l)

[{}, {}, {}, {}, {}]

4.	Write a Python program to access dictionary keys element by index.

In [ ]:
num = {'physics': 89, 'math': 99, 'chemistry': 86}
print(list(num)[1])

math

5.	Write a Python program to iterate over dictionaries using for loops

In [1]:
d = {'x': 10, 'y': 20, 'z': 30} 
for dict_key, dict_value in d.items():
    print(dict_key,'->',dict_value)

x -> 10
y -> 20
z -> 30

6.	Write a Python program to sum all the items in a dictionary.

In [ ]:
my_dict = {'data1':100,'data2':-54,'data3':247}
print(sum(my_dict.values()))

293

7.	Write a Python script to concatenate following dictionaries to create a new one. 
  Sample Dictionary: 
a. dic1 = {1:10, 2:20} 
b. dic2 = {3:30, 4:40} 
c. dic3 = {5:50, 6:60}

In [ ]:
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
dic4 = {}
for d in (dic1, dic2, dic3): dic4.update(d)
print(dic4)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}